body {
    font-family: "맑은 고딕", "고딕", "굴림";
}
header {
    width: 80%;
    margin: 0 auto;
    /* 가운데 정렬할때 마진 위에것 쓴다. */
    background-color: #069;
    padding: 10px;
    overflow: hidden;
    /* 자식이 플롯한 속성을 사용할때 부모는 무조건 오버플로워 히든을 사용한다 */
}
header nav {
    width: 60%;
    float: right;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
p {
    font-size: 1em;
    line-height: 20px;
}
footer {
    margin: 0 auto;
    width: 80%;
    background: #333;
    padding: 10px;
    text-align: center;
    color: white;
}
article {
    width: 80%;
    margin: 0 auto;
    border: 5px solid #333;
    padding: 5px;
    overflow: hidden;
}
article section {
    width: 30%;
    height: 650px;
    border: 1px dotted #333;
    text-align: left;
    float: left;
    margin: 5px;
    padding: 5px;
}
section h3 {
    background: url('../images/note.png') no-repeat;
    background-position: left center; /* 가로 세로*/
    padding: 30px;
}
aside {
    margin: 0 auto;
    width: 80%;
    margin: 0 auto;
    background-color: #99cc33;
    padding: 10px;
}